{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set entity_type = 'Keepalived 信息' %}

{% block title %}{{entity_type}}{% endblock %}

{% block page_content %}
<div class="col-lg-12">
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
        添加 
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post" class="form form-horizontal" enctype="multipart/form-data" role="form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><span id="edit_panel_title">添加</span> {{entity_type}}</h4>
          </div>
          <div class="modal-body">
            {{ wtf.quick_form_content(form, form_type="horizontal", horizontal_columns=('lg', 4, 8)) }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>名称</th>
                <th>IDC机房</th>
                <th>主机IP</th>
                <th>主／备</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for k in keepaliveds %}
            <tr>
                <td>{{k.name}}</td>
                <td>{{k.idc.en_name}}({{k.idc.name}})</td>
                <td>{{k.ip}}</td>
                <td>{{k.backup_ip}}</td>
                <td>{{k.status}}</td>
                <td>
                    {% if k.status %}
                    <div class="btn btn-xs btn-danger" onclick="stopKeepalived({{k.id}})">停止</div>
                    {% else %}
                    <div class="btn btn-xs btn-info" onclick="startKeepalived({{k.id}})">启动</div>
                    {% endif %}
                    <div class="btn btn-xs btn-default" onclick='deleteKeepalived({{k.id}})'>删除</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function deployKeepalived(id) {
            change_keepalived('deploy', id)
        }

        function undeployKeepalived(id) {
            change_keepalived('undeploy', id)
        }

        function stopKeepalived(id) {
            if(!confirm("确定要停止{{entity_type}}吗？")) {
                return false;
            }
            change_keepalived('stop', id)
        }

        function startKeepalived(id) {
            change_keepalived('start', id)
        }

        function deleteKeepalived(id) {
            if(!confirm("确定要删除{{entity_type}}吗？")) {
                return false;
            }
            change_keepalived('delete', id);
        }

        function change_keepalived(action, id){
            $.ajax({
                url: '/keepalived/' + action + '/'+id,
                type: 'GET',
                success: function(result) {
                    if (result) {
                        window.location.href = window.location.href;
                    }
                }
            });
        }

        function modifyKeepalived(id, idc_id, project_id, vhost_id, vhost_port, host_id, host_port, max_mem_size, master) {
            $('#edit_panel_title').html('修改');
            $('#id').val(id);
            $('#idc_id').val(idc_id).attr('readonly', 'readonly');
            $('#project_id').val(project_id).attr('readonly', 'readonly');
            $('#vhost_id').val(vhost_id).attr('readonly', 'readonly');
            $('#vhost_port').val(vhost_port).attr('readonly', 'readonly');
            $('#host_id').val(host_id);
            $('#host_port').val(host_port).attr('readonly', 'readonly');
            $('#max_mem_size').val(max_mem_size);
            setRadioValue('master', master);
            $('#myModal').modal('show');
        }

        

        function setRadioValue(name, value) {
            $('input[name="' + name + '"][value="' + value +'"]').prop('checked', true);
        }

        $(function(){
            {% if form.errors|length != 0 %}
                $('#myModal').modal('show');
            {%endif%}
            $('#vhost_port').change(function() {
                var vhost_port = $(this).val();
                $('#host_port').val(vhost_port);
            });

            $('#host_port').change(function() {
                var host_port = $(this).val();
                $('#vhost_port').val(host_port);
            });
        })

    </script>
{% endblock %}`
