[program:{{business.name}}_memcached_{{business.lvs.ip}}_{{business.lvs.port}}]
command=/usr/bin/memcached -v -u nobody -l 0.0.0.0 -p {{business.memcached.port}} -m {{business.memcached.item_max_memory_in_megabytes}}
priority=999
autostart=true
startretries=3
exitcodes=0,2
stopsignal=QUIT
stopwaitsecs=10
log_stdout=true
log_stderr=true
logfile_maxbytes=10MB
logfile_backups=10

